<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
    default-lazy-init="false">


    <!--自定义标签-->
    <!--自定义标签-->
    <context:component-scan base-package="com.enjoy.jack">

    </context:component-scan>
    <context:property-placeholder location="classpath:application.properties"/>



    <!--test1-->
    <!--<bean id="student"  class="com.enjoy.jack.bean.Student" />-->

    <!--test2-->
    <bean id="woman" class="com.enjoy.jack.bean.Woman" init-method="init"/>
    <bean id="people" class="com.enjoy.jack.bean.ShowSixClass">
        <lookup-method name="getPeople" bean="woman"></lookup-method>
    </bean>

    <!--test3-->
    <bean id="repalceClass" class="com.enjoy.jack.bean.ReplaceClass"/>
    <bean id="originClass" class="com.enjoy.jack.bean.OriginClass">
        <replaced-method name="method" replacer="repalceClass">
            <arg-type match="java.lang.String"/>
        </replaced-method>
    </bean>



<!--    <bean class="com.enjoy.jack.bean.ConstructorArgBean" id="constructorArgBean">
        <constructor-arg name="username" value="Jack" index="0" type="java.lang.String"/>
        <constructor-arg name="password" value="123" index="1" type="java.lang.String"/>
    </bean>

    <bean class="com.enjoy.jack.bean.PropertyBean" id="propertyBean">
        <property name="username" value="Jack"/>
        <property name="password" value="123"/>
    </bean>

    <bean class="com.enjoy.jack.bean.DecoratorBean" id="decoratorBean"
          p:username="Jack" p:password="123" c:age="12" c:sex="1"/>-->

    <!--test4-->
    <bean id="factoryMethodbean" class="com.enjoy.jack.bean.FactoryMethodBean"/>
    <bean id="jack" class="com.enjoy.jack.bean.Jack" factory-method="factoryMethod"/>


    <bean id="propertiesBean" class="com.enjoy.jack.bean.propertiesbean.PropertiesBean">
        <!--占位符-->
        <property name="name" value="${enjoy.name}"/>
        <property name="password" value="${enjoy.password}"/>
    </bean>







</beans>